---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import FV from '../components/FastView.astro'
---

<Layout title="R.tech inc.">
  <div slot="main">
    <Header />
    <div class="hidden js-area">
      <div class="wrap js-wrap">
        <div class="gallery js-item">
          <div class="item1"></div>
          <div class="item2"></div>
          <div class="item3"></div>
          <FV />
        </div>
        <div class="js-item">
          <section>
            <h3>Company</h3>
            <div class="flex">
              <h4>こんな会社です</h4>
              <img src="https://source.unsplash.com/376KN_ISplE" alt="" />
            </div>
          </section>
        </div>
      </div>

      <section>
        <h3>About US</h3>
        <div class="flex">
          <img src="/At the office-amico.svg" alt="" />
          <div>
            <h4>私たちはこんなことに力を注いでいます。</h4>
            <ul>
              <li>WEB制作</li>
              <li>SES事業</li>
              <li>コンサルティング</li>
              <li>デジタルマーケティング</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h3>Message</h3>
        <div class="flex">
          <h4></h4>
          <p></p>
        </div>
      </section>
      <section>
        <h4>Blog</h4>
        <p>私たちのブログ</p>
        <div class="card">カード</div>
      </section>
    </div>

    <style>
      .gallery {
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100%;
        background-color: #808080;
        /* TODO GIFの選定 */
        background-image: url(/c.gif);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-blend-mode: multiply;
        /*animation: anima 1.5s running forwards, anima2 1.5s running forwards; */

        position: relative;
      }

      /* test */

      .item1 {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #4192d9;
        animation: anima 0.75s running forwards;
        z-index: -1;
      }
      .item2 {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #dba507;
        animation: anima 1.5s running forwards;
        z-index: -2;
      }
      .item3 {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #f54f57;
        animation: anima 2.5s running forwards;
        z-index: -3;
      }

      img[src='/At the office-amico.svg'],
			img[src="https://source.unsplash.com/376KN_ISplE"]
      {
        width: 500px;
      }

      @keyframes anima {
        /* 上から下へ */
        0% {
          clip-path: circle(0);
        }

        80% {
          clip-path: circle(100%);
        }
        100% {
          clip-path: circle(0);
        }
        /* 0% {
          clip-path: inset(0);
        }

        80% {
          clip-path: inset(0 90%);
        }
        100% {
          clip-path: inset(0 100%);
        } */
      }

      @keyframes anima2 {
        from {
          clip-path: inset(0);
        }
        to {
          clip-path: inset(0 0 0 100%);
        }
      }
    </style>
  </div>
</Layout>
