---
---

<div class="fast_view">
  <h2 class="main-ttl regular">
    R.tech inc.
    <p class="ttl-message thin">Provide Wed devropment</p>
  </h2>
</div>

<style>
  .fast_view {
    opacity: 0;
  }
  .main-ttl {
    color: #fff;
  }

  .ttl-message {
    font-size: 0.75rem;
  }

  .scroll_right {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    /* display: inline-block; */
    /* margin: 1rem 0; */
    cursor: pointer;
  }
</style>
